
body {
	/*background: url(../img/presence.png) repeat;*/
background: #58a;
background-image: repeating-linear-gradient(30deg, 
              hsla(0,0%,100%,.1), hsla(0,0%,100%,.1) 15px,
              transparent 0, transparent 30px);

height: 100vh;
}
.bold {
	font-weight: bold;
}

/*** RANDOM BUTTON ***/

#random {
	box-sizing: border-box;
	background:    #28323C;
	border-radius: 7px;
	color:         #fff;
	display:       block;
	padding:       8px 20px;
	font:          normal 700 24px/1 "Calibri", sans-serif;
	text-align:    center;
	text-shadow:   1px 1px 0 #000;
	width: 200px;
	margin: 0 auto;
	margin-top: 25px;
}

#random span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#random span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#random:hover span {
  padding-right: 25px;
}

#random:hover span:after {
  opacity: 1;
  right: 0;
}

/*** SEARCH BUTTON ***/

.search {
	position: relative;
	padding-top: 100px;
	width: 300px;
	margin: 0 auto;	
}

.form-search {
	display: flex;
	justify-content: center;
}

#search-icon, #search-text {
	color: white;
	border: none;
}

#search-icon {
	transform: translateX(-25px);
}

#search-icon:hover {
	cursor: pointer;
}

#search-text {
	box-sizing: border-box;
	width: 100px;
	height: 35px;
	transition: width 0.5s linear;
	transform: translateX(15px);
	text-align: center;
	background: hsla(0,0%,0%, 0.5);
}

#search-text:hover {
	cursor: pointer;
}

#search-text:focus {
	outline-color: #93AAC5;
}

#search-list {
	display: none;
	position: absolute;
	width: 270px;
	list-style: none;
	transform: translateX(15px);
	background: hsla(0,0%,0%, 0.5);
	z-index: 5;
}

#search-list li {
	box-sizing: border-box;
	padding: 10px 10px;
	color: white;
	border: 1px solid grey;
}

#search-list li:hover{
	cursor: pointer;
	background: hsla(0,0%,0%, 0.7);
	font-weight: bold;
	transition: all 0.05s linear;
}



/**** FILM DESCRIPTION *****/

.film {
	position: relative;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 90%;
	height: auto;
	max-width: 430px;
	margin: 0 auto;
	margin-top: 50px;
	background: hsla(180,0%,40%,.9);
	background-clip: padding-box;
	border: 10px solid hsla(0,0%,0%,.75);
	border-radius: 10px;
}

.film-header {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.film-image img {
	width: 85%;
	height: auto;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin: 0 auto;
}

.film .film-description {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	font-family: 'Arsenal', sans-serif;

}

.film .film-description h2 {
	width: 90%;
	margin: 0 auto;
	padding: 10px 5px;
	font-size: 14px;
	text-align: center;
	font-weight: bold;

}

.film .film-description .film-title-org {
	width: 30%;
	font-size: 8px;
	text-align: center;
	padding-left: 10px;
}


.film .film-description > p {
	width: 90%;
	margin: 0 auto;
	font-size: 14px;
	text-align: center;
	padding: 10px 5px;
}

.film .film-description .youtube {
	display: none;
}

.film .film-description .film-summary {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 20px;
}

.film .film-description .film-summary p {
	padding: 0;
	width: 100%;
	font-size: 13px;
	text-align: center;
}

.fa-times {
	position: absolute;
	left: 91.5%;
	font-size: 18px;
	padding: 5px;
	opacity: 0.75;
}

.fa-times:hover {
	cursor: pointer;
	opacity: 1;
}

@media screen and (min-width: 480px) {

	.search {
		width: 460px;
	}

	#search-list {
		width: 430px;
	}

	.film {
	}

	.film .film-description h2 {
		font-size: 18px;
	}

	.film .film-description .film-title-org {
		font-size: 10px;
	}

	.film .film-description .film-summary p {
		font-size: 14px;
	}
}

@media screen and (min-width: 660px) {

	.search {
		width: 530px;
	}

	#search-list {
		width: 500px;
	}

	.film .film-description h2 {
		font-size: 24px;
	}

	.film .film-description .film-title-org {
		font-size: 12px;
	}

	.film .film-description .film-summary p {
		font-size: 16px;
	}
}

@media screen and (min-width: 980px) {

	.film {
		display: flex;
		max-width: 960px;
		height: 500px;
		margin-bottom: 50px;
	}

	.film-image img {
		padding: 0;
		width: 95%;
	}

	.film-header {
		width: 30%;
		height: 100%;
	}

	.film .film-description {
		width: 70%;
	}

	.film .film-description h2 {
		font-size: 22px;
		width: 100%;
	}

	.film .film-description .film-title-org {
		font-size: 10px;
	}

	.film .film-description > p {
		font-size: 15px;
		width: 100%;
	}

	.film .film-description .youtube {
		width: 560px;
		height: 315px; 
		border-radius: 10px;
		box-shadow: 5px;
		display: block;
		margin: 0 auto;
		margin-bottom: 15px;
	}

	.film .film-description .film-summary {
		width: 100%;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		padding: 0;
	}

	.film .film-description .film-summary p {
		width: initial;
		padding: 0px 30px;
		font-size: 13px;
	}

	.fa-times {
		left: 95%;
		font-size: 32px;
		opacity: 0.75;
	}

	.fa-times:hover {
		cursor: pointer;
		opacity: 1;
	}
}